{% extends 'registration_of_dogs/layout.html' %}

{% block content %}
    <div class="container-fluid" id="form-center">
    <form method="POST">
        
            <legend>Registration</legend>          
                {% csrf_token %}
                <p>{{form.exebition.label}}<br>
                {{form.exebition}}</p>

                <!-- <p>{{form.exebition_venue.label}}<br>
                {{form.exebition_venue}}</p> -->

                
                <p>{{form.dog.label}}<br>
                {{form.dog}}</p>

                
                <p>{{form.date_of_birth.label}}<br>
                {{form.date_of_birth}}</p>

                
                <!-- <p>{{form.breeder_name.label}}<br>
                {{form.breeder_name}}</p> -->

                <p>{{form.owner.label}}<br>
                {{form.owner}}</p>

                <!-- <p>{{form.owner_address.label}}<br>
                {{form.owner_address}}</p> -->

                <!-- <p>{{form.gender.label}}<br>
                {{form.gender}}</p> -->

                <p>{{form.class_of_exebition.label}}<br>
                {{form.class_of_exebition}}</p>

                <p>{{form.additional_classes.label}}<br>
                {{form.additional_classes}}</p>

                <!-- <p>{{form.pedigree_of_dog_scanned_back.label}}<br>
                {{form.pedigree_of_dog_scanned_back}}</p>

                <p>{{form.champion_certificate_scanned.label}}<br>
                {{form.champion_certificate_scanned}}</p>

                <p>{{form.proof_of_peyment_scanned.label}}<br>
                {{form.proof_of_peyment_scanned}}</p>

                <p>{{form.contact_email.label}}<br>
                {{form.contact_email}}</p> -->

        <input type="submit" class="btn btn-primary" value="Подать заявку"/>

    </form>
</div>

{% endblock %}
