body
{
    background-image: url("../img/dog.jpg");
    background-color: #fcf8f8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}