.container
{
    /* center contents */
    margin-left: 10 px;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
}
#forn-center
{
    /* center contents */
    margin-left: center;
    margin-right: center;
    text-align: center;
    font-size: 1.5em;
}

.dog_thumb
{
    /* background-attachment: fixed */
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(static/img/dog.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */

}

.hea img
{
   height: 330px;
}
.sd
{
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.cent
{

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.imgshop img
{
    width: 500px;
    height: 500px;
}

.imgcart img
{
    width: 300px;
    height: 300px;
}
.tex
{
    margin: 10em 0 0 0;
}

.tex h2, h3, h4
{
    font-style: italic;
}

.logo
{
    margin: 5em 0 0 0;
}

.color-nav
{
    color: white;
}
.navbar-brand
{
    font-size: 1.2em;
}
/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

/* main img */
/* {
    /* constrain images on small screens */
    /* max-width: 100%; */
/* } */

main td
{
    /* left-align tables' cells */
    text-align: left;
}