.cont
{
    background-image: url("../img/dog-with-whitecover.jpg");
    background-color: #fcf8f8;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 10vh;
    padding-bottom: 50vh;


}

.shows_list
{
    padding-left: 1%;
}

.bordc
{
    border-color: red black;
}