{% extends 'registration_of_dogs/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid" >
               
        <div class="detail">
            <h1>Registration</h1>
        </div> 
                
            <form class="registration" method="post" enctype="multipart/form-data">
            
                        
                    {% csrf_token %}      
                    
                        <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                                {{form_registr.exebition|as_crispy_field}} 
                            </div>                
                            <div class="form-group col-md-4 mb-0">
                                {{form_registr.class_of_exebition|as_crispy_field}}
                            </div>

                            <div class="form-group col-md-4 mb-0">
                                {{form_registr.additional_classes|as_crispy_field}}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.breed_race|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.gender|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.name_of_dog|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.tattoo_number_microchip|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.studbook_and_registration|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.date_of_birth|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.father_of_dog|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.mother_of_dog|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.breeder_name|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_owner.owner_name|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_owner.owner_telephone|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_owner.owner_email|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.pedigree_of_dog_scanned_front|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.pedigree_of_dog_scanned_back|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_dog.champion_certificate_scanned|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form_registr.proof_of_peyment_scanned|as_crispy_field}}
                            </div>


                <input type="submit" class="btn btn-primary" value="Подать заявку"/>

            </form>
        
    </div>


{% endblock %}
