{% extends 'registration_of_dogs/base.html' %}
{% load i18n %}


{% block content %}
<div class="detail">

        <h1>{{ show_detail.type_exebition}}</h1>
        <h2><p>{{ show_detail.date_of_exebition}}</p>
        <p>{{ show_detail.address_exebition}}</p></h2>

        <ul>
            {% for add_class in show_detail.add_classes_of_exebition.all %}
            
               <li><h3>{{add_class.category}}</h3></li>
    
            {% endfor %}
        </ul>

            {% if show_detail.status_of_exebition %}
            <h2><a class="" href="{%url 'registration'%}">Перейти к регистрации </a></h2>
            {% else %}
            <h2> Ругистрация закрыта </h2>
            {% endif %}

</div>
{% endblock %}

